* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

#selection {
    height: 100%;
    width: 100%;    
}

#map {
    top: 30px;
    height: calc(80% - 30px);
    width: 100%;
    z-index: 1;
}

.buttons {
    position: absolute;
    background: rgb(180,180,180);
    bottom: 0px;
    height: 20%;
    width:100%;
    z-index: 2;
    box-shadow: 0px -5px 4px #555555;
}

.button {
    overflow: hidden;
    display: inline-block;
    width: calc(25% - 1px);
    height: 100%;
    margin-right: 1px;
}

.buttonHighlight {
    display: block;
    top:0px;
    height: 10px;
    background: red;

}
.buttonBody {
    display: block;
    text-align: center;
    top: 10px;
    width: 100%;
    background: rgb(247, 248, 252);
    height: calc(100% - 10px);
}
.buttonText {
    position: relative;
    height: 50px;
    top: 10%;
    font-size: 0.7em;
    text-align: center;
}
.buttonBody:active{
    background: red;
}
.buttonImage {
    display: inline-block;
    margin-top: 25%;
    position: relative;
    width: 20%;
    height: auto;
}
.searchbar-container {
    position: absolute;
    top: 0px;
    height: 40px;
    width: 100%;
    background: rgb(247, 248, 252);
    box-shadow: 0px 5px 4px #555555;
    z-index: 2;

}
.searchbar {
    background: rgb(247, 248, 252);
    position: absolute;
    width: calc(100% - 40px);
    height: 30px;
    top: 5px;
    left: 40px;
    font-size: 1em;
    border: none;
    outline: none;
}

.searchIcon {
    display: block;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: auto;
}

.custom-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;

}

.custom-popup .leaflet-popup-tip {
    opacity: 0.0;
}